* {
    margin: 0;
    padding: 0;
}
body {
    width: 380px;
    height: 550px;
    padding: 5px 8px;
}
.hide {
    display: none;
}
.pointer {
    cursor: pointer;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
._tabs {
    margin: 5px 0;
    width: 100%;
}
._tabs .nav li a {
    padding: 6px 12px !important;
}
._tabs .nav a {
    color: #999;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
}


.playlist {
    margin-top: 15px;
    overflow: overlay;
    max-height: 424px;
}
.playlist li dl {
    margin: 9px 9px 0 9px;
    padding: 4px 0px;
}
.playlist li dd , .playlist li dl {
    color: #545253;
    font-size: 13px;
}
.playlist li dd {
    line-height: 2;
    white-space: nowrap;
    max-width: 252px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.playlist li dt {
    line-height: 2;
    white-space: nowrap;
    max-width: 252px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.playlist>li:nth-child(2n-1) {
    background: #fafafd94;
}
.playlist>li:nth-child(2n) {
    background: #eeeef1;
}
.playlist li {
    width: 350px;
    display: block;
    position: relative;
    border-radius: 5px;
}

.playlist li:hover .download-btn {
    opacity: 1;
    transition: opacity 1.5s;
    -moz-transition: opacity 1.5s; /* Firefox 4 */
    -webkit-transition: opacity 1.5s; /* Safari 和 Chrome */
    -o-transition: opacity 1.5s; /* Opera */
}
.playlist li .download-btn {
    opacity: 0.45;
    float: right;
    position: absolute;
    right: 34px;
    top: 21px;
    font-size: 17px;
    color: #9e9e9e;
}
.playlist li .download-btn:hover {
    color: #2c91e9;
}

.playlist li:hover .delete-btn {
    opacity: 1;
    transition: opacity 1.5s;
    -moz-transition: opacity 1.5s; /* Firefox 4 */
    -webkit-transition: opacity 1.5s; /* Safari 和 Chrome */
    -o-transition: opacity 1.5s; /* Opera */
}
.playlist li .delete-btn {
    opacity: 0.45;
    float: right;
    position: absolute;
    right: 9px;
    top: 19px;
    font-size: 20px;
    color: #9e9e9e;
}
.playlist li .delete-btn:hover {
    color: #e94c2d;
}

.playlist li:hover .player-btn {
    opacity: 1;
    transition: opacity 1.5s;
    -moz-transition: opacity 1.5s; /* Firefox 4 */
    -webkit-transition: opacity 1.5s; /* Safari 和 Chrome */
    -o-transition: opacity 1.5s; /* Opera */
}
.playlist li .player-btn {
    opacity: 0.45;
    float: right;
    position: absolute;
    right: 59px;
    top: 19px;
    font-size: 20px;
    color: #9e9e9e;
}
.playlist li .player-btn:hover {
    color: #38b54e;
}

.insert-player {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.player-boot {
    position: fixed;
    bottom: 6px;
    box-sizing: border-box;
    border-top: 1px solid #f1f1f1;
    background: #d9edf7d6;
    display: flex;
    height: 54px;
    border-radius: 5px;
    width: 365px;
}
.player-boot .info {
    order: 0;
    flex: 1;
    color: #726f73;
    height: 54px;
    line-height: 54px;
    cursor: default;
    padding-left: 10px;
    padding-right: 13px;
    white-space: nowrap;
    max-width: 225px;
    overflow: hidden;
    font-weight: 800;
    text-overflow: ellipsis;
}
.player-boot ._operate {

}
.player-boot ._operate label {
    width: 90px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight:normal;
    color: #da6868;
}
.player-boot ._operate span {
    cursor: pointer;
    padding: 0 5px;
    line-height: 54px;
    font-size: 20px;
    color: rgba(158, 158, 158, 0.77);
}
.player-boot ._operate ._stop {
    font-size: 23px;
}
.player-boot ._operate span:hover{
    color: #27d22a;
}
.voice-tabs{max-height: 425px;overflow-y: auto;}

.voice-header {background: #262729;border-bottom:none;}
.voice-header > li {margin-bottom: 0;}
.voice-header > li > a {
    border-radius: 0;
    line-height: 32px;
    height: 32px;
    padding: 0 14px;
    color: #ffffff;
    margin-right: 0;
    border:none;
}
.voice-header > li.active > a{
    color: #fff;
    cursor: default;
    background-color: #ff721f;
    border:none;
}
.voice-header>li>a:hover , .voice-header>li>a:focus {background-color: #ff721f;color: #fff;border:none;}
.voice-header>li.active>a:hover , .voice-header>li.active>a:focus {background-color: #ff721f;color: #fff; border:none;}
.voice-container {padding: 12px 8px 12px 8px;background: #484848;border-radius: 0 0 4px 4px;}
.voice-container .voice-group {display: none;text-align: center;}
.voice-container .voice-group.show {display: block;}
.voice-container .voicer-personal {margin-right: 8px;border: 1px solid #e2e2e2;border-radius: 3px;display: inline-block;cursor: pointer;text-align: center;padding: 7px 6px;margin-bottom: 8px;}
.voice-container .voicer-personal.active {background: #dc0a88;border: 1px solid #dc0a88;}
.voice-container .voicer-personal h4 {
    color: #ffffff;
    margin: 0;
    font-size: 13px;
}
.voice-container .voicer-personal small {
    color: #e8e8e8;margin-left: 5px;
}
.voice-container .voicer-personal span {
    color: #f4f4f3;
}